body{
    background-color: gray;
}

.sidebar {
    display: grid;
    position: sticky;
    left: auto;
    background-color: red;
    width: 230px;
    margin-left: -10px;
    margin-top: -10px;
    height: 100vh;
}

.logo {
    background-color: black;
    height: 100px;
}

p {
    color: red;
    margin-top: 40px;
    line-height: 10px;
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sbnav ul {
    color: white;
    /* border: 1px solid chartreuse; */
    font-size: 20px;
}

.sbnav2 ul {
    color: white;
    /* border: 1px solid chartreuse; */
    font-size: 20px;
}

.header {
    background-color: azure;
    position: absolute;
    top: -2px;
    left: 229px;
    height: 100px;
    width: 180vh;
}

.header-info1 {
    display: grid;
    grid-auto-flow: column;
    border: 1px solid black;
    grid-template-columns: 40px 600px 50px 50px 50px;
    column-gap: 50px;
}

.hicon {
    border: 1px solid black;
    /* column-gap: 20px; */
}

.hcontainer1 {
    display: grid;
    grid-column: 5;
    grid-auto-flow: column;
    column-gap: 20px;
    width: 20px;
}

.header-info2 {
    display: grid;
    grid-auto-flow: column;
    margin-top: 40px;
    grid-template-columns: 20px;
}

.hcontainer2 {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

button {
    border-radius: 20px;
    margin-right: 30px;
    width: 100px;
}

#avatar {
    margin-left: 15px;
    border-radius: 100px;
    background-color: red;
    width: 50px;
    height: 50px;
    margin-top: -20px;
}
#greet {
    margin-left: 60px;
    font-weight: bold;
    font-size: 30px;
}

.maincontent {
    position: absolute;
    top: 150px;
    left: 270px;
    display: grid;
    /* padding: 5px; */
    /* background-color: wheat; */
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    gap: 15px;
}

.mediabox {
    background-color: lightgray;
    height: 175px;
    width: 320px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    text-indent: 15px;
}
.mediabox::before {
    background-color: red;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%; 
    width: 10px;
    border-radius: 10px;   
}
.announcements {
    position: absolute;
    top: 150px;
    right: 130px;
}
.anbox {
    background-color: lightgray;
    height: 300px;
    width: 350px;
    border-radius: 10px;
    text-indent: 30px;
}

.trending {
    position: absolute;
    right: 130px;
    bottom: 5px;
}
.trbox {
    background-color: lightgray;
    height: 200px;
    width: 350px;
    border-radius: 10px;
}


